.item {
  position: relative;
  display: flex;
  list-style-type: none;
  max-width: 1200px;
  margin: auto;
  padding: 5px 10px 5px 20px;
  border-radius: 2px;
  align-items: center;
  background-color: #fff;
  margin-top: 5px;
}

.item:first-child {
  margin-top: 0;
}

.property {
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
  padding-right: 5px;
}

.id {
  width: 100%;
  max-width: 7%;
  padding-right: 20px;
}

.name {
  width: 100%;
  max-width: 15%;
}

.phoneNumber {
  width: 100%;
  max-width: 20%;
}

.placement {
  width: 100%;
  padding-right: 50px;
  overflow: hidden;
}

.buttonChange {
  visibility: hidden;
  right: 10px;
  margin: 0;
}

.buttonDelete {
  visibility: hidden;
  right: 40px;
}

.item:hover .buttonChange {
  visibility: visible;
}

.item:hover .buttonDelete {
  visibility: visible;
}
