.parameters {
    display: flex;
    list-style-type: none;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid grey;
    padding: 0 10px 0 40px;
    border-radius: 2px;
    align-items: center;
    margin-top: 10px;
}

.parameter {
    font-weight: bold;
    line-height: 32px;
    padding-right: 5px;
}

.parameter:not(:first-child) {
    margin-left: 2px;
}